// Color Variables
$primary-color: #719ec2;
$secondary-color: #f4f4f4;
$text-color: #333;
$white: #fff;
$black: #000;
$grey: #666;
$light-blue: #c5e5e4;
$hover-bg-color: #1f387e;
$button-bg-gradient-start: rgb(111, 106, 199);
$button-bg-gradient-end: rgba(0, 212, 255, 1);

// Font Sizes
$font-size-large: 30px;
$font-size-medium: 16px;
$font-size-small: 12px;

// Spacing
$padding: 20px;
$margin: 20px;
$border-radius: 8px;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

// Animations
$fade-in-duration: 2s;
$slide-down-duration: 1s;
$zoom-in-duration: 1s;
